@import url("base.css");

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: -fx-offset-blue;
}


.check-box:selected .mark {
    -fx-background-color: -fx-typography;
}

.check-box:selected .box {
    -fx-background-color: -fx-offset-blue;
}

