@import url("base.css");

.comment-date {
    -fx-text-fill: -fx-typography;
    -fx-font-weight: bolder;
    -fx-font-size: 1.25em;
}

.comment-box .comment-text {
    -fx-fill: -fx-typography;
    -fx-font-size: 1em;
}

.comment-box {
    -fx-padding:  5 5 5 5;
    -fx-background-color: -fx-primary;
    -fx-background-radius: 5px;
    -fx-spacing: 5;
}

.comment-trash:hover {
    -fx-background-color: -fx-offset-blue;
    -fx-cursor: hand;
}