@import url("../core/base.css");
@import url("../core/button.css");

.body {
    -fx-background-color: -fx-primary;
}

.text-field {
    -fx-background-color: derive(-fx-primary, 25%);
    -fx-text-fill: -fx-typography;
    -fx-font-weight: bolder;
}

.text-area .content {
    -fx-background-color: derive(-fx-primary, 25%);
    -fx-text-fill: -fx-typography;
    -fx-background-radius: 0;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: none;
    -fx-text-fill: -fx-typography;
}

