@import url("../core/button.css");

.version {
    -fx-text-fill: derive(-fx-primary, 25%);
    -fx-font-weight: bolder;
    -fx-font-size: 1.00em;
}

.side-menu {
    -fx-background-color: -fx-primary;
}

.content-pane {
    -fx-background-color: white;
}

.tab-labels {
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-font-size: 1.5em;
}

.tab-labels-active {
    -fx-text-fill: -fx-offset-blue;
    -fx-font-weight: bolder;
    -fx-font-size: 1.5em;
}

.tab-labels:hover {
    -fx-text-fill: -fx-offset-blue;
    -fx-cursor: hand;
}
