@import url("../core/base.css");


.text-field {
    -fx-background-color: -fx-offset-blue;
    -fx-text-fill: -fx-typography;
    -fx-font-weight: bolder;
}

.text-field:hover {
    -fx-cursor: hand;
}