@import url("../core/base.css");


.text-field {
    -fx-background-color: -fx-offset-blue;
    -fx-text-fill: -fx-typography;
    -fx-font-weight: bolder;
}

.text-field:hover {
    -fx-cursor: hand;
}

.form-header {
    -fx-text-fill: -fx-offset-blue;
    -fx-font-weight: bolder;
    -fx-font-size: 1.25em;
}

.form-label {
    -fx-text-fill: white;
    -fx-font-weight: bolder;
    -fx-font-size: 1.15em;
}
